
<style>
  .row{
    padding-left: 10%;
    padding-right: 10%;
  }
</style>
<br>

<h2 style="text-align: center;">Competitions</h2>

<br>

<!-- 
<h1 style="text-align: center;"><b>Projects</b></h1>

<hr style="height:1px;width:78%;color:gray;background-color:gray;opacity: 0.15;"> -->


<div class="row row-cols-1 row-cols-md-3 g-4">

  {% for project in site.projects %}
<!--########################    FIRST   ################################################################-->
      {%- if project.number == "one"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}
<!--###########################   SECOND   ###########################################################-->
      {%- if project.number == "two"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}

<!--#########################  THIRD   ##################################################################-->
      {%- if project.number == "three"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}

  {% endfor %}
</div>

<br>

<h2 style="text-align: center;">Key Projects</h2>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  

  {% for project in site.projects %}

<!--##############################  FOURTH   ###########################################################-->
      {%- if project.number == "four"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}

<!--############################   FIFTH   ##################################################################-->
      {%- if project.number == "five"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}


<!--########################   SIXTH   ###############################################################################-->
      {%- if project.number == "six"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}

 
<!--####################   SEVENTH   ###############################################################################-->
      <!-- {%- if project.number == "seven"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%} -->



<!--###################   EIGTH #######################################################################################-->
      <!-- {%- if project.number == "eight"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%} -->




<!--#########################   NINE  ###############################################################################-->
      <!-- {%- if project.number == "nine"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%} -->




<!--################################ TENTH ############################################################-->
      <!-- {%- if project.number == "ten"  -%}
        <div class="col">
          
            {%- assign project_type  = "local" -%}
            {%- assign project_id    = project.name | slugify -%}
            {%- assign project_img   = project.image -%}
            {%- assign project_name  = project.name -%}
            {%- assign project_desc  = project.description -%}
            {%- assign project_tools = project.tools -%}

            {%- if project.external_url -%}
              {%- assign project_url = project.external_url -%}
            {%- else -%}
              {%- assign project_url = project.url | relative_url -%}
            {%- endif -%}

            {% include projects/project-card.html %}
        </div>
      {%- endif -%}
      -->



  {% endfor %}

</div>
