<div class="row justify-content-center align-items-center p-10">
  <div class="col-lg-5 col-md-8 text-center mt-10">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="imgs/me4.jpeg" alt="{{ site.title }}" class="circle-image wow animated" data-wow-delay=".1s">
      </div>
    </div>

    <p style="font-size: 17px" class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>